  .para {
      color: orange;
  }

  #para {
      color: green;
  }

  p {
      color: blue !important;

  }




  /* border corners  */



  .bordered {
      background-color: limegreen;
      height: 400px;
      width: 400px;
      /* border-radius: 30px 60px 100px 200px; */
      border-radius: 50%;
  }