/* .first {
    display: inline;
    background-color: yellow;
    border: 1px solid black;
    color: black;
    padding: 10px 10px;
    height: 100px;
}

.second {
    display: inline-block;
    background-color: orange;
    border: 1px solid black;
    color: black;
    padding: 10px;
    height: 100px;
}

.third {
    display: block;
    background-color: pink;
    border: 1px solid black;
    color: black;
    padding: 10px;
    height: 100px;
} */




/* .button {
    color: white;
    background-color: red;
    padding: 10px 22px;
    text-decoration: none;

}

.button:hover {
    background-color: tomato;
}

.button:active {
    background-color: green;
}

.button:visited {
    background-color: purple;
} */




/* opacity desing  */


.image {
    width: 400px;
    height: 250px;
}

.image:hover {
    opacity: 0.5;
}



.text {
    color: red;
}

.text:hover {
    color: blue;
    cursor: pointer;
    cursor: alias;
    cursor: all-scroll;
    cursor: cell;
    cursor: col-resize;
    cursor: context-menu;
    cursor: copy;
    cursor: crosshair;
    cursor: e-resize;
}




/* navbar design starts here  */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav ul {
    list-style-type: none;
    background-color: purple;
}

nav ul li {
    display: inline-block;
    padding: 20px 10px;
}

nav ul li:hover {
    background-color: rgb(175, 33, 175);
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul .active {

    background-color: rgb(175, 33, 175);
}