.radial-gradient {

    width: 100%;
    height: 200px;

    /* lienar gradient  */
    background-image: radial-gradient(to right, red, yellow);
    /* radial gradient example  */
    /* background-image: radial-gradient(red, yellow); */
    /* conic gradient example  */
    /* background-image: conic-gradient(red, orange, purple, red); */
}





/* text shadow example  */


.shadow h1 {
    text-shadow: 2px 2px 8px red;
}


/* box shadow effect  */


.shadow {
    height: 200px;
    width: 400px;
    background-color: pink;
    border: 2px solid #616161;
    margin: 0px auto;

    /* box shadow effect  */

    /* there are 4 value 
    1. to move left right
    2. to move top or bottom 
    3. to give blur effect 
    4. to spread the shadow  */
    /* box-shadow: 10px 10px 33px -7px rgba(0, 0, 0, 0.6); */
}





/* text designs in css  */


.text-design {
    width: 190px;
    border: 1px solid black;

}

.text-design p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




/* 2d transformation in css */

.transformation {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 10px auto;
}



/* translate example  */

.translate {
    background-color: red;
}

.translate:hover {
    transform: translate(20px, 50px);
}



/* rotate example  */

.rotate {
    background-color: #616161;
}

.rotate:hover {
    transform: rotate(120deg);
}


/* scaleX example  */

.scaleX {
    background-color: aquamarine;
}

.scaleX:hover {

    /* if the value of the scaleX is 1 then it is normal position and if we put value less than 1 like 0.7,
    0.8 then it will reduce the size of the box and if we give the value more than 1 like 1.3,
    1.5 etc then it will increase the size of the box*/
    transform: scaleX(0.8);
}


/* scaleY example  */

.scaleY {
    background-color: magenta;
}

.scaleY:hover {
    transform: scaleY(1.2);
}



/* scale example  */


.scale {
    background-color: green;
}

.scale:hover {
    transform: scale(1.2);
}




/* skewX example  */
.skewX {
    background-color: orange;
}

.skewX:hover {
    background-color: white;
    transform: skewX(10deg);
}


/* skewY example  */

.skewY {
    background-color: brown;
}

.skewY:hover {
    transform: skewY(10deg);
}

/* skew example  */

.skew {
    background-color: brown;
}

.skew:hover {
    transform: skew(20deg, 20deg);

}